@model ApplicationCore.Models.FavoriteResponseModel



@{
    ViewData["Title"] = "Favorites";
}

<div class="rounded">
    <div class="container-fluid">
        <div class="row">
            @foreach (var movieCard in Model.FavoriteMovies)
            {
                <div class="col-xl-2 col-sm-4 col-lg-3 col-6">
                    <partial name="_MovieCard" model="movieCard" />
                </div>
            }

        </div>
    </div>
</div>