@model List<ApplicationCore.Models.CastResponseModel>
    <table class="table-sm">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Character</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cast in Model)
            {
            <tr>
                <td> <img class="showing" src="@cast.ProfilePath" width="50" /></td> <td> @cast.Name </td> <td> @cast.Character</td> 
            </tr>
                
            }
        </tbody>
    </table>
    
