@model List<ApplicationCore.Models.CastResponseModel>
    <table>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Character</th>
                <th scope="col">Profile</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cast in Model)
            {
            <tr>
                <td> @cast.Name </td> <td> @cast.Character</td> <td> @cast.ProfilePath</td>
            </tr>
                
            }
        </tbody>
    </table>
    
